import "./Assets/Pizza.jpg"
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-size:62.5%;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
  width: 100vw;
  height: auto;
}
#App {
  width: 800px;
  margin: 0 auto;
  height: 100vh;
  background-color: #ffffff;
  border: 1px chocolate solid;
}
#root {
  margin: 0 auto;
  width: 880px;
  height: 100vh;
  background-color: #ffffff;
  /* checkered border extending 40px past the main app container on L and R*/
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
#App h1{color: red;
  font-size: 3rem;
  text-align: center;
  font-weight: 200;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  margin-top: 0pt;}
#heroBox {
  width: 100%;
  height: 400px;
  background-image: url("./Assets/Pizza.jpg");
}

#root,
#Hero {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #ff5117;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg transform='scale(0.874)' style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2347ff33' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%2342ee41' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%233edd4e' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%2339cc5c' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%2334bb69' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%232faa77' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232b9985' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23268892' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%232177a0' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%231c66ad' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%231855bb' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%231344c9' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%230e33d6' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%230922e4' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%230511f1' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%2300F' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  transition: bgcolor, background-color, background-image 5s ease-in-out; */
}
#root:hover,
#Hero:hover {
  transition: bgcolor, background-color, background-image 5s ease-in-out;
  background-color: purple;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='18.1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg transform='scale(0.721)' style='transform-origin:center'%3E%3Cg transform='rotate(9 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2347ff33' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%2342ee41' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%233edd4e' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%2339cc5c' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%2334bb69' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%232faa77' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232b9985' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23268892' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%232177a0' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%231c66ad' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%231855bb' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%231344c9' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%230e33d6' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%230922e4' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%230511f1' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%2300F' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
}
@keyframes bgcolor {
  0% {
    background-color: purple;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='18.1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg transform='scale(0.721)' style='transform-origin:center'%3E%3Cg transform='rotate(9 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2347ff33' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%2342ee41' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%233edd4e' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%2339cc5c' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%2334bb69' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%232faa77' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232b9985' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23268892' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%232177a0' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%231c66ad' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%231855bb' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%231344c9' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%230e33d6' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%230922e4' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%230511f1' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%2300F' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  100% {
    background-color: #ff5117;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='1' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg transform='scale(0.874)' style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2347ff33' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%2342ee41' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%233edd4e' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%2339cc5c' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%2334bb69' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%232faa77' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232b9985' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23268892' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%232177a0' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%231c66ad' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%231855bb' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%231344c9' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%230e33d6' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%230922e4' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%230511f1' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%2300F' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transition: background-color, background-image 5s ease-in-out;
  }
}
